*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(img/fondo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
h1{
    margin: 50px 0px;
    color:brown;
    text-align: center;
    font-size: 70px;
    display: block;
}
.fotos{
    width: 100%;
    margin: 0 auto;
}
.container::after{
    /*Para que el contenedor mmuestre elemento aunque estos sean flotantes*/
    content: "";
    display: block;
    height: 0px;
    clear: both;
}
.container{
    width: 90%;
    margin: 0 9%;
}
/*La estructura de cada componente de la galeria (imagen + descripcion) */
.container div{
    width: 28%;
    height: auto;
    display: inline;
    float: left;
    margin: 0% 3% 0% 0%;
    padding: 0px;
}

.container div img{
    width: 100%;
    height: 600px;
    box-shadow: 0 0 10px #666;
    border: 5px solid #fff;
}
/* Estructura de la descripcion, po defecto que no se muestre */
.container div img~span{
    width: 100%;
    display: block;
    opacity: 0;
    margin: 0;
    padding: 2px 5px;
    color : #fff;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 10px #666;
    text-align: center;
}
/*Se muestra la descripcin al posicionar el cursor encima de la imagen*/
.container div img:hover+span{
    opacity: 1;
}
/*Estabrecemos el comportamiento que tendra las imagenes al posicionar 
  el cursor encima del contenedor
*/
.container:hover div{
    opacity: 0.2;
    transform: scale(0.7);
    transition: 2s;
}
/*Se especifica el comportamiento que tendra la imagen seleccionada*/
.container:hover div:hover{
    opacity: 1;
    transform: scale(1);
    
}